logger:
  enabled: false
dump_server:
  host:
  user:
  port:
  passphrase:
  path: /backup
web_server:
database:
  user: <USER>
  host: <HOST>
  pass: <PASS>
tmp_path: /backup
cap:
  ssh_options:
    keys:
    - /path/to/private/ssh/key/for/deployment